@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
*{
    margin: 0px;
    padding: 0px;
   
}
body{
    background-color: rgb(149, 161, 179);
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
    width: 100%;
}


svg {
    margin: 0 auto;
    transform: scale(2.5);
} 
.temp{
    background-color: rgb(240, 241, 242);
    text-align: center;
    padding: 10px;
    font-family: 'Orbitron', sans-serif;
    
    
    

   
}
.temp #temporizador{ 
   font-size: 35px;
}


